body,
html {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar {
  background-color: #bbebe7;
  padding: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

main {
  margin-bottom: 50px;
}

.container-detail {
  display: flex;
  flex-flow: row;
  /* justify-content: center; */
  gap: 100px;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 120px;
  padding: 20px;
  /* background-color: aqua; */
}

.container-deskripsi-produk,
.container-ulasan-produk {
  margin-left: 60px;
  margin-right: 60px;
}

.profil-toko {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.container-gambar-produk {
  height: 400px;
  width: 400px;
  background-color: rgb(228, 234, 234);
  /* display: flex;
    justify-content: center;
    align-items: center; */
  overflow: hidden;
}

.image_url {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.keterangan-produk {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  /* background-color: blue; */
  width: 50%;
}

.harga_produk {
  color: green;
}

.kota-toko {
  /* width: 200px; */
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.btn-add-cart,
.btn-buy {
  background-color: #00a69c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #aaafab;
}

#jumlah_stok {
  color: orange;
}

.ulasan-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 -3px 2px 1px rgba(0, 0, 0, 0.1),
    0 3px 2px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.sub-title {
  font-weight: bold;
  color: #00a69c;
}

/* p {
    font-weight: bold;
} */

/* #kategori_produk,
#nama_vendor,
#kota {
    color: green;
} */
